# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log
logs
*.json.log

# Environment
.env
.env.local

# Docker
.dockerignore
docker-compose.override.yml

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Binaries
/bin/
/dist/
/out/
